/* CSS HEX */
/*
--old-burgundy: #3B2424ff;
--rhythm: #877798ff;
--rosy-brown: #B78780ff;
--silver-pink: #D7B5B2ff;
--seal-brown: #643018ff;
--tan-crayola: #E9A06Cff;
--glaucous: #5085D0ff;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    margin: 0 auto;    
}

#hero, #activities, #guide {
    font-family: 'Signika', sans-serif;
    color: #643018ff;
    text-align: center;
    letter-spacing: 2px;
}


img {
    width: 140px;
    border-radius: 50%;
    border: 4px solid #D7B5B2ff;
}

.avatar {
    width: 90%;
}

#hero {
    background-image: url("images/albuquerque3.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header > h1 {
    margin: 3rem auto .25rem auto;
    font-size: 45px;

}
div.transbox {
    font-weight: bold;
    text-shadow: 0px 0px 1px #D7B5B2ff;
    padding-right: 25rem;
    margin-top: 3rem;
}


#activities {
    background: #5085D0ff;
    padding: .75rem;
    line-height: 1.5rem;
    
}

.topTen {
    margin: 2rem auto;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 80%;
    text-shadow: 0px 0px 1px #D7B5B2ff;
}

.activities-container {
    display:flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;;
}


.activity {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 1px #D7B5B2ff;
    width: 20%;
}

.activity > h3 {
    margin: 1.5rem auto;
}

.activity > h3:hover {
    transform: scale(1.2);
}


#guide {
    background: #877798ff;
    padding: 1.5rem 3rem;
}

.guide-container {
    background: #E9A06Cff;
    padding: 2rem;
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    line-height: 1.5rem;
}

.guide-container > div {
    width: 200px;
}



